.period-main{
    margin: auto;
    width: 100%;
    text-align: center;
    margin:2rem 0 2rem 0;
}
.card{
    background-color: transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0px 0px 10px -3px #343434;
    -webkit-box-shadow: 0px 0px 10px -3px #343434;
    border: 0;
    padding: 1rem;
    min-height: 350px;
    margin-bottom: 2rem;
}
.card-img{
    border: 0 !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 50%;
    height: 100px;
    margin: auto;
    margin-bottom: 0.5rem;
}
.card-body{
    border: 0;
}
.card-title{
    border: 0;
    font-weight: bold;
    color: #515151;
}