@media screen and (min-width:961px) {
    .desktop{
        display: block !important;
    }
    .mobile{
        display: none !important;
    }
}
@media screen and (max-width:960px) {
    .desktop{
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
}
.nav-main{
    z-index: +99999 !important;
}
.navbar{
    z-index: +99999 !important;
}